  <!-- Team Start -->
  <div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary display-4 mb-4">Bác Sĩ Và Chuyên Gia</h4>                    
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <div class="team-item">
                        <div class="team-img position-relative">
                            <img src="assets/img/team-1.jpg" class="img-fluid rounded-top w-100 equal-height" alt="">
                            <div class="team-icon position-absolute bottom-0 start-0 p-3">
                                <div class="d-flex align-items-center mb-2">
                                    <a class="btn btn-primary btn-sm-square rounded-pill" href="">
                                        <i class="fas fa-stethoscope"></i>
                                    </a> 
                                    <span class="ms-2 text-black" style="font-size: 18px;">Gây mê hồi sức</span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <a class="btn btn-primary btn-sm-square rounded-pill" href="">
                                        <i class="fas fa-hospital"></i>
                                    </a> 
                                    <span class="ms-2 text-black" style="font-size: 18px;">Khoa Gây mê Phẫu thuật</span>
                                </div>
                            </div>
                        </div>                               
                    </div>
                    
                    <div class="team-title p-4">
                        <h4 class="mb-0"><i class="fas fa-user-md"></i> Bùi Ngọc Uyên Chi</h4>
                        <p class="mb-0"><i class="fa fa-graduation-cap"></i> Bác sĩ chuyên khoa II</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/team-2.jpg" class="img-fluid rounded-top w-100 equal-height" alt="">
                        <div class="team-icon">
                            <div class="d-flex align-items-center mb-2">
                                <a class="btn btn-primary btn-sm-square rounded-pill" href="">
                                    <i class="fas fa-stethoscope"></i>
                                </a> 
                                <span class="ms-2 text-black" style="font-size: 18px;">Chẩn đoán hình ảnh</span>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <a class="btn btn-primary btn-sm-square rounded-pill" href="">
                                    <i class="fas fa-hospital"></i>
                                </a> 
                                <span class="ms-2 text-black" style="font-size: 18px;">Khoa Chẩn đoán hình ảnh</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-title p-4">
                        <h4 class="mb-0"><i class="fas fa-user-md"></i> Bùi Tiến Sĩ</h4>
                        <p class="mb-0"><i class="fa fa-graduation-cap"></i> Thạc sĩ, Bác sĩ nội trú</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/team-3.jpg" class="img-fluid rounded-top w-100 equal-height" alt="">
                        <div class="team-icon">
                            <div class="d-flex align-items-center mb-2">
                                <a class="btn btn-primary btn-sm-square rounded-pill" href="">
                                    <i class="fas fa-stethoscope"></i>
                                </a> 
                                <span class="ms-2 text-black" style="font-size: 18px;">Gây mê hồi sức</span>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <a class="btn btn-primary btn-sm-square rounded-pill" href="">
                                    <i class="fas fa-hospital"></i>
                                </a> 
                                <span class="ms-2 text-black" style="font-size: 18px;">Khoa Gây mê Phẫu thuật</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-title p-4">
                        <h4 class="mb-0"><i class="fas fa-user-md"></i> Đào Huy Hoàng</h4>
                        <p class="mb-0"><i class="fa fa-graduation-cap"></i> Thạc sĩ</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/team-4.jpg" class="img-fluid rounded-top w-100 equal-height" alt="">
                        <div class="team-icon">
                            <div class="d-flex align-items-center mb-2">
                                <a class="btn btn-primary btn-sm-square rounded-pill" href="">
                                    <i class="fas fa-stethoscope"></i>
                                </a> 
                                <span class="ms-2 text-black" style="font-size: 18px;">Sản xuất tế bào</span>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <a class="btn btn-primary btn-sm-square rounded-pill" href="">
                                    <i class="fas fa-hospital"></i>
                                </a> 
                                <span class="ms-2 text-black" style="font-size: 18px;">Khối Sản xuất Tế bào</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-title p-4">
                        <h4 class="mb-0"><i class="fas fa-user-md"></i> Hoàng Hương Diễm</h4>
                        <p class="mb-0"><i class="fa fa-graduation-cap"></i> Thạc sĩ</p>
                    </div>
                </div>                                                                        
                
            </div>
        </div>
        
    </div>
</div>