 <!-- About Start -->
 <div class="container-fluid bg-light about pb-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item-content bg-white rounded p-5 h-100">
                    <h4 class="text-primary">Về Bight Life</h4>
                    <h1 class="display-4 mb-4">Thành tựu và giải thưởng</h1>
                    <p>Tại Bright Life, chúng tôi nỗ lực hướng tới sự xuất sắc bằng cách cung cấp dịch vụ chăm sóc đẳng cấp thế giới, tiên phong trong nghiên cứu và đổi mới. Bright Life đã được ghi nhận cho những nỗ lực theo đuổi chất lượng quốc tế và sự an toàn cao nhất cho mọi bệnh nhân.
                    </p>
                    <p>Sau đây là một số giải thưởng và chứng nhận của chúng tôi trong những năm qua:
                    </p>
                    <p class="text-dark"><i class="fa fa-award text-primary me-3"></i>Giải thưởng quốc tế về quản lý kinh doanh</p>
                    <p class="text-dark"><i class="fa fa-award text-primary me-3"></i>Giải thưởng Công ty được quản lý tốt nhất của Deloitte</p>
                    <p class="text-dark mb-4"><i class="fa fa-award text-primary me-3"></i>Bright Life được công nhận là Trung tâm y tế xuất sắc</p>
                    <a (click)="navigateTo('about')" class="btn btn-primary rounded-pill py-3 px-5"  >Xem thêm</a>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="bg-white rounded p-5 h-100">
                    <div class="row g-4 justify-content-center">
                        <div class="col-12">
                            <div class="rounded bg-light">
                                <img src="assets/img/about-1.jpg" class="img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="counter-item bg-light rounded p-3 h-100">
                                <div class="counter-counting">
                                    <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">20000</span>
                                    <span class="h1 fw-bold text-primary">+</span>
                                </div>
                                <h4 class="mb-0 text-dark">Bệnh nhân</h4>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="counter-item bg-light rounded p-3 h-100">
                                <div class="counter-counting">
                                    <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">5</span>
                                    <span class="h1 fw-bold text-primary">+</span>
                                </div>
                                <h4 class="mb-0 text-dark">Giải thưởng</h4>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="counter-item bg-light rounded p-3 h-100">
                                <div class="counter-counting">
                                    <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">60</span>
                                    <span class="h1 fw-bold text-primary">+</span>
                                </div>
                                <h4 class="mb-0 text-dark">Bác sĩ</h4>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="counter-item bg-light rounded p-3 h-100">
                                <div class="counter-counting">
                                    <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">120</span>
                                    <span class="h1 fw-bold text-primary">+</span>
                                </div>
                                <h4 class="mb-0 text-dark">Nhân viên</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
   <!-- Service Start -->
   <div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Dịch vụ</h4>
            <h1 class="display-4 mb-4">Chúng Tôi Cung Cấp Các Dịch Vụ Tốt Nhất</h1>
            <p class="mb-0">Tại Bright Life, chúng tôi nỗ lực hướng tới sự xuất sắc bằng cách cung cấp dịch vụ chăm sóc đẳng cấp thế giới, tiên phong trong nghiên cứu và đổi mới. Đội ngũ y bác sĩ và nhân viên Bright Life luôn nỗ lực theo đuổi chất lượng quốc tế, sự an toàn và sự thoải mái cao nhất cho mọi bệnh nhân.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/img/service-1.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-users fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a (click)="navigateTo('about')"   class="d-inline-block h4 mb-4">Bảo hiểm y tế</a>
                            <p class="mb-4">Bệnh nhân được nhận nhiều đãi ngộ đối với người có bảo hiểm y tế theo chính sách của nhà nước.</p>
                            <a (click)="navigateTo('about')" class="btn btn-primary rounded-pill py-2 px-4"  >Đọc thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/img/service-2.png" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-hospital fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a (click)="navigateTo('about')"   class="d-inline-block h4 mb-4">Phòng bệnh</a>
                            <p class="mb-4">Với hơn 200 phòng bênh, đáp ứng đầy đủ các tiêu chuẩn quốc tế. Bright Life tự hào khi là bệnh viện nằm trong top các bệnh viện có phòng hiện đại nhất.</p>
                            <a (click)="navigateTo('about')" class="btn btn-primary rounded-pill py-2 px-4"  >Đọc thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/img/service-3.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-car fa-2x"></i>                                    
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a (click)="navigateTo('about')"   class="d-inline-block h4 mb-4">Cấp cứu</a>
                            <p class="mb-4">Với 10 xe cấp cứu và 30 cán bộ, nhân viên y tế túc trực 24/24 đảm bảo luôn tiếp nhận và sẵn sàng trong mọi tình huống.</p>
                            <a (click)="navigateTo('about')" class="btn btn-primary rounded-pill py-2 px-4"  >Đọc thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="assets/img/blog-4.png" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-home fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a (click)="navigateTo('about')"   class="d-inline-block h4 mb-4">Khám tại nhà</a>
                            <p class="mb-4">Nhằm đáp ứng nhu cầu khám chữa tại nhà, Bright Life luôn đặt nhu cầu của khách hàng lên hàng đầu. Những trường hợp không cần trực tiếp tới bệnh viện có thể được khám tại nhà.</p>
                            <a (click)="navigateTo('about')" class="btn btn-primary rounded-pill py-2 px-4"  >Đọc thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a (click)="navigateTo('about')" class="btn btn-primary rounded-pill py-3 px-5"  >Xem thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
 <!-- Blog Start -->
 <div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h1 class="text-primary display-4 mb-4">Tin Tức</h1>                    
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/news-1.jpg" class="img-fluid rounded-top w-100" alt="">                        
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">
                            <div class="small"><span class="fa fa-user text-primary"></span> Bright Life</div>
                            <div class="small"><span class="fa fa-calendar text-primary"></span> 30/10/2024</div>
                            <div class="small"><span class="fa fa-comment-alt text-primary"></span> 17 Bình luận</div>
                        </div>
                        <a (click)="navigateTo('about')"   class="h4 d-inline-block mb-3 text-center w-100">Bright Life nhận bằng khen của Bộ Y tế vì đóng góp tích cực cho cộng đồng</a>
                        <p class="mb-3 text-justify" style="text-align: justify;">Trong chương trình giao lưu nghệ thuật tối 21/10/2024 do Quỹ Hỗ trợ bệnh nhân ung thư - Ngày mai Tươi sáng (Bộ Y tế) tổ chức, Bright Life đã vinh dự được trao Bằng khen của Bộ trưởng Bộ Y tế vì có đóng góp tích cực cho cộng đồng năm 2024.</p>
                        <a (click)="navigateTo('about')"   class="btn p-0 text-center d-block">Đọc thêm <i class="fa fa-arrow-right"></i></a>
                    </div>                            
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/news-2.jpg" class="img-fluid rounded-top w-100" alt="">                        
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">
                            <div class="small"><span class="fa fa-user text-primary"></span> Bright Life</div>
                            <div class="small"><span class="fa fa-calendar text-primary"></span> 09/10/2024</div>
                            <div class="small"><span class="fa fa-comment-alt text-primary"></span> 32 Bình luận</div>
                        </div>
                        <a (click)="navigateTo('about')"   class="h4 d-inline-block mb-3 text-center w-100">Đánh giá kết quả bước đầu phẫu thuật nội soi có sử dụng hệ thống Robot Da Vinci tại Bệnh viện Đa khoa Quốc tế Vinmec</a>
                        <p class="mb-3 text-justify" style="text-align: justify;">Nguyễn Hùng Cường * , Nguyễn Ngọc Khánh * , Vũ Ngọc Thắng * , Nguyễn Thu Hoài * , Hoàng Thọ * , Phùng Quang Thủy*.</p>
                        <a (click)="navigateTo('about')"   class="btn p-0 text-center d-block">Đọc thêm <i class="fa fa-arrow-right"></i></a>
                    </div>                            
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/news-3.jpg" class="img-fluid rounded-top w-100" alt="">                        
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">
                            <div class="small"><span class="fa fa-user text-primary"></span> Bright Life</div>
                            <div class="small"><span class="fa fa-calendar text-primary"></span> 21/9/2024</div>
                            <div class="small"><span class="fa fa-comment-alt text-primary"></span> 11 Bình luận</div>
                        </div>
                        <a (click)="navigateTo('about')"   class="h4 d-inline-block mb-3 text-center w-100">Vinmec được vinh danh là “Bệnh viện tiến bộ nhất” và “An toàn cho người bệnh”</a>
                        <p class="mb-3 text-justify" style="text-align: justify;">Ngày 12/9, tại Hà Nội, Hệ thống Y tế Vinmec đã được Hiệp hội Quản lý Bệnh viện Châu Á vinh danh là “Bệnh viện Việt Nam tiến bộ nhất” và “An toàn người bệnh”. Việc giành giải thưởng ở cả hai hạng mục quan trọng trên ghi nhận nỗ lực của Vinmec trong việc nâng cao chất lượng dịch vụ y tế, thúc đẩy công tác quản lý vận hành theo các tiêu chuẩn quốc tế cao nhất.</p>
                        <a (click)="navigateTo('about')"   class="btn p-0 text-center d-block">Đọc thêm <i class="fa fa-arrow-right"></i></a>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

<!-- Team Start -->
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary display-4 mb-4">Bác Sĩ Và Chuyên Gia</h4>                    
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <div class="team-item">
                        <div class="team-img position-relative">
                            <img src="assets/img/team-1.jpg" class="img-fluid rounded-top w-100 equal-height" alt="">
                            <div class="team-icon position-absolute bottom-0 start-0 p-3">
                                <div class="d-flex align-items-center mb-2">
                                    <a (click)="navigateTo('about')" class="btn btn-primary btn-sm-square rounded-pill" href="">
                                        <i class="fas fa-stethoscope"></i>
                                    </a> 
                                    <span class="ms-2 text-black" style="font-size: 18px;">Gây mê hồi sức</span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <a (click)="navigateTo('about')" class="btn btn-primary btn-sm-square rounded-pill" href="">
                                        <i class="fas fa-hospital"></i>
                                    </a> 
                                    <span class="ms-2 text-black" style="font-size: 18px;">Khoa Gây mê Phẫu thuật</span>
                                </div>
                            </div>
                        </div>                               
                    </div>
                    
                    <div class="team-title p-4">
                        <h4 class="mb-0"><i class="fas fa-user-md"></i> Bùi Ngọc Uyên Chi</h4>
                        <p class="mb-0"><i class="fa fa-graduation-cap"></i> Bác sĩ chuyên khoa II</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/team-2.jpg" class="img-fluid rounded-top w-100 equal-height" alt="">
                        <div class="team-icon">
                            <div class="d-flex align-items-center mb-2">
                                <a (click)="navigateTo('about')" class="btn btn-primary btn-sm-square rounded-pill" href="">
                                    <i class="fas fa-stethoscope"></i>
                                </a> 
                                <span class="ms-2 text-black" style="font-size: 18px;">Chẩn đoán hình ảnh</span>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <a (click)="navigateTo('about')" class="btn btn-primary btn-sm-square rounded-pill" href="">
                                    <i class="fas fa-hospital"></i>
                                </a> 
                                <span class="ms-2 text-black" style="font-size: 18px;">Khoa Chẩn đoán hình ảnh</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-title p-4">
                        <h4 class="mb-0"><i class="fas fa-user-md"></i> Bùi Tiến Sĩ</h4>
                        <p class="mb-0"><i class="fa fa-graduation-cap"></i> Thạc sĩ, Bác sĩ nội trú</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/team-3.jpg" class="img-fluid rounded-top w-100 equal-height" alt="">
                        <div class="team-icon">
                            <div class="d-flex align-items-center mb-2">
                                <a (click)="navigateTo('about')" class="btn btn-primary btn-sm-square rounded-pill" href="">
                                    <i class="fas fa-stethoscope"></i>
                                </a> 
                                <span class="ms-2 text-black" style="font-size: 18px;">Gây mê hồi sức</span>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <a (click)="navigateTo('about')" class="btn btn-primary btn-sm-square rounded-pill" href="">
                                    <i class="fas fa-hospital"></i>
                                </a> 
                                <span class="ms-2 text-black" style="font-size: 18px;">Khoa Gây mê Phẫu thuật</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-title p-4">
                        <h4 class="mb-0"><i class="fas fa-user-md"></i> Đào Huy Hoàng</h4>
                        <p class="mb-0"><i class="fa fa-graduation-cap"></i> Thạc sĩ</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/team-4.jpg" class="img-fluid rounded-top w-100 equal-height" alt="">
                        <div class="team-icon">
                            <div class="d-flex align-items-center mb-2">
                                <a (click)="navigateTo('about')" class="btn btn-primary btn-sm-square rounded-pill" href="">
                                    <i class="fas fa-stethoscope"></i>
                                </a> 
                                <span class="ms-2 text-black" style="font-size: 18px;">Sản xuất tế bào</span>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <a (click)="navigateTo('about')" class="btn btn-primary btn-sm-square rounded-pill" href="">
                                    <i class="fas fa-hospital"></i>
                                </a> 
                                <span class="ms-2 text-black" style="font-size: 18px;">Khối Sản xuất Tế bào</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-title p-4">
                        <h4 class="mb-0"><i class="fas fa-user-md"></i> Hoàng Hương Diễm</h4>
                        <p class="mb-0"><i class="fa fa-graduation-cap"></i> Thạc sĩ</p>
                    </div>
                </div>                                                                        
                
            </div>
        </div>
        
    </div>
</div>