.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

button{
    width: 300px;
}
.vh-100.section-bg {
  background-image: url('/assets/img/Carousel-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

