<section class="section-bg">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Đăng Ký</h3>

            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="" class="form-control form-control-lg" placeholder="Họ và tên" />              
            </div>
             <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="" class="form-control form-control-lg" placeholder="Số điện thoại" />              
            </div>

             <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="" class="form-control form-control-lg" placeholder="Email" />              
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="" class="form-control form-control-lg" placeholder="Tên đăng nhập" />              
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" id="" class="form-control form-control-lg" placeholder="Mật khẩu" />              
            </div>

             <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="" class="form-control form-control-lg" placeholder="Xác nhận mật khẩu" />              
            </div>


            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block mb-3" type="submit">Đăng ký</button>
            <p>Đã có tài khoản | <a [routerLink]="['/login']">Đăng nhập</a></p>
            <hr class="my-3">
            Hoặc
            <hr class="my-3">

            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary mb-3" style="background-color: #dd4b39;"
              type="submit"><i class="fab fa-google me-2"></i> Đăng ký bằng google</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>