  <!-- Blog Start -->
  <div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h1 class="text-primary display-4 mb-4">Tin Tức</h1>                    
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/news-1.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="blog-categiry py-2 px-4">
                            <span>Business</span>
                        </div>
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">
                            <div class="small"><span class="fa fa-user text-primary"></span> Bright Life</div>
                            <div class="small"><span class="fa fa-calendar text-primary"></span> 30/10/2024</div>
                            <div class="small"><span class="fa fa-comment-alt text-primary"></span> 17 Bình luận</div>
                        </div>
                        <a href="#" class="h4 d-inline-block mb-3 text-center w-100">Bright Life nhận bằng khen của Bộ Y tế vì đóng góp tích cực cho cộng đồng</a>
                        <p class="mb-3 text-justify" style="text-align: justify;">Trong chương trình giao lưu nghệ thuật tối 21/10/2024 do Quỹ Hỗ trợ bệnh nhân ung thư - Ngày mai Tươi sáng (Bộ Y tế) tổ chức, Bright Life đã vinh dự được trao Bằng khen của Bộ trưởng Bộ Y tế vì có đóng góp tích cực cho cộng đồng năm 2024.</p>
                        <a href="#" class="btn p-0 text-center d-block">Đọc thêm <i class="fa fa-arrow-right"></i></a>
                    </div>                            
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/news-2.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="blog-categiry py-2 px-4">
                            <span>Business</span>
                        </div>
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">
                            <div class="small"><span class="fa fa-user text-primary"></span> Bright Life</div>
                            <div class="small"><span class="fa fa-calendar text-primary"></span> 09/10/2024</div>
                            <div class="small"><span class="fa fa-comment-alt text-primary"></span> 32 Bình luận</div>
                        </div>
                        <a href="#" class="h4 d-inline-block mb-3 text-center w-100">Đánh giá kết quả bước đầu phẫu thuật nội soi có sử dụng hệ thống Robot Da Vinci tại Bệnh viện Đa khoa Quốc tế Vinmec</a>
                        <p class="mb-3 text-justify" style="text-align: justify;">Nguyễn Hùng Cường * , Nguyễn Ngọc Khánh * , Vũ Ngọc Thắng * , Nguyễn Thu Hoài * , Hoàng Thọ * , Phùng Quang Thủy*.</p>
                        <a href="#" class="btn p-0 text-center d-block">Đọc thêm <i class="fa fa-arrow-right"></i></a>
                    </div>                            
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/img/news-3.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="blog-categiry py-2 px-4">
                            <span>Business</span>
                        </div>
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">
                            <div class="small"><span class="fa fa-user text-primary"></span> Bright Life</div>
                            <div class="small"><span class="fa fa-calendar text-primary"></span> 21/9/2024</div>
                            <div class="small"><span class="fa fa-comment-alt text-primary"></span> 11 Bình luận</div>
                        </div>
                        <a href="#" class="h4 d-inline-block mb-3 text-center w-100">Vinmec được vinh danh là “Bệnh viện tiến bộ nhất” và “An toàn cho người bệnh”</a>
                        <p class="mb-3 text-justify" style="text-align: justify;">Ngày 12/9, tại Hà Nội, Hệ thống Y tế Vinmec đã được Hiệp hội Quản lý Bệnh viện Châu Á vinh danh là “Bệnh viện Việt Nam tiến bộ nhất” và “An toàn người bệnh”. Việc giành giải thưởng ở cả hai hạng mục quan trọng trên ghi nhận nỗ lực của Vinmec trong việc nâng cao chất lượng dịch vụ y tế, thúc đẩy công tác quản lý vận hành theo các tiêu chuẩn quốc tế cao nhất.</p>
                        <a href="#" class="btn p-0 text-center d-block">Đọc thêm <i class="fa fa-arrow-right"></i></a>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
<a href="#" class="btn btn-primary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   